:root {
    /* Receta --color-z0 */
    --color-z0-h: 0;
    --color-z0-s: 0%;
    --color-z0-l: 22%;
    /* Receta --color-z1 */
    --color-z1-h: 357;
    --color-z1-s: 87%;
    --color-z1-l: 64%;
    /* Receta --color-z2 */
    --color-z2-h: 335;
    --color-z2-s: 82%;
    --color-z2-l: 41%;
    /* Receta --color-z3 */
    --color-z3-h: 262;
    --color-z3-s: 15%;
    --color-z3-l: 48%;
    /* Receta --color-z4 */
    --color-z4-h: 317;
    --color-z4-s: 100%;
    --color-z4-l: 24%;
    /* Receta --color-z5 */
    --color-z5-h: 223;
    --color-z5-s: 21%;
    --color-z5-l: 32%;
    /* Receta --color-z6 */
    --color-z6-h: 209;
    --color-z6-s: 20%;
    --color-z6-l: 58%;
    /* Receta --color-z7 */
    --color-z7-h: 205;
    --color-z7-s: 92%;
    --color-z7-l: 41%;
    /* Receta --color-z8 */
    --color-z8-h: 208;
    --color-z8-s: 81%;
    --color-z8-l: 96%;
    /* Receta danger Color */
    --danger-h: 357;
    --danger-s: 87%;
    --danger-l: 64%;
    /* Receta warning Color */
    --warning-h: 24;
    --warning-s: 92%;
    --warning-l: 51%;
    /* Receta success Color */
    --success-h: 151;
    --success-s: 98%;
    --success-l: 29%;
    /* colores */
    --color-z0: var(--color-z0-h) var(--color-z0-s) var(--color-z0-l);
    --color-z1: var(--color-z1-h) var(--color-z1-s) var(--color-z1-l);
    --color-z2: var(--color-z2-h) var(--color-z2-s) var(--color-z2-l);
    --color-z3: var(--color-z3-h) var(--color-z3-s) var(--color-z3-l);
    --color-z4: var(--color-z4-h) var(--color-z4-s) var(--color-z4-l);
    --color-z5: var(--color-z5-h) var(--color-z5-s) var(--color-z5-l);
    --color-z6: var(--color-z6-h) var(--color-z6-s) var(--color-z6-l);
    --color-z7: var(--color-z7-h) var(--color-z7-s) var(--color-z7-l);
    --color-z8: var(--color-z8-h) var(--color-z8-s) var(--color-z8-l);
    --color-z1-dark: var(--color-z1-h) var(--color-z1-s) calc(var(--color-z1-l) - 7%);
    --color-z2-dark: var(--color-z2-h) var(--color-z2-s) calc(var(--color-z2-l) - 7%);
    --color-z3-dark: var(--color-z3-h) var(--color-z3-s) calc(var(--color-z3-l) - 7%);
    --color-z4-dark: var(--color-z4-h) var(--color-z4-s) calc(var(--color-z4-l) - 7%);
    --color-z5-dark: var(--color-z5-h) var(--color-z5-s) calc(var(--color-z5-l) - 7%);
    --color-z6-dark: var(--color-z6-h) var(--color-z6-s) calc(var(--color-z6-l) - 7%);
    --color-z7-dark: var(--color-z7-h) var(--color-z7-s) calc(var(--color-z7-l) - 7%);
    --color-z8-dark: var(--color-z8-h) var(--color-z8-s) calc(var(--color-z8-l) - 7%);
    --color-warning: var(--warning-h) var(--warning-s) var(--warning-l);
    --color-danger: var(--danger-h) var(--danger-s) var(--danger-l);
    --color-success: var(--success-h) var(--success-s) var(--success-l);
    --color-font: 0 0 22;
    /* commons */
    --border-radius: .5rem;
}